.nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
    color: rgba(255, 10, 108, 1);
}

.nav-link.active {
    color: rgba(255, 10, 108, 1);
}

.nav-buttons-container {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
    width: 85%;
    margin: auto;
    white-space: nowrap;
    overflow-x: hidden;
}

.nav {
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tab-content {
    overflow-y: auto;
    max-height: 78vh;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

.tab-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
