<div data-aos="fade-zoom-in" data-aos-duration="2000">
    <app-tittle>Aspecto Técnico de ML</app-tittle>

    <app-paragraph>Desde un punto de vista más técnico, se puede decir que en Aprendizaje Automático existen diferentes algoritmos.
        Cada algoritmo representa una estrategia diferente para aprender la función/mapping objetivo, de modo que:</app-paragraph>

    <app-paragraph>
        <p class="cite">"Los algoritmos de Aprendizaje Automático se describen como aprendiendo una función objetivo (F) que mapea las variables de entrada (X) (datos) a una variable de salida (Y)." </p>
    </app-paragraph>

    <div class="equation">
        Y = <span class="variable">F(X)</span>
    </div>

    <app-paragraph>Este último puede considerarse como una tarea de aprendizaje en general, ya que se desea hacer predicciones en el
        futuro dadas nuevas ejemplos de entradas.</app-paragraph>

    <app-paragraph>
        El subcampo del Aprendizaje Automático que se enfoca en crear predicciones se llama "Modelado Predictivo" y es
        el tipo más común de Aprendizaje Automático. En este tipo de modelado, la función se aprende para hacer predicciones sobre el resultado (Y) para nuevos datos (x).
    </app-paragraph>

    <app-paragraph>
        Este tipo de modelado se llama modelado predictivo o análisis predictivo y el objetivo es crear la mayor precisión en las predicciones.
    </app-paragraph>

    <app-paragraph>
        También se puede aprender el mapeo de la función $F(x) = Y$ para obtener más información sobre los datos utilizados. Esto se llama inferencia estadística.
    </app-paragraph>

    <app-paragraph>
        Hablando más profundamente sobre la función objetivo F, realmente no sabemos cómo es la forma de esta función, ni es de mucho interés, es como una caja negra para nosotros, simplemente se usa directamente.
    </app-paragraph>

    <app-paragraph>
        Diferentes representaciones hacen diferentes suposiciones sobre la forma de la función a aprender. Por eso es importante probar un conjunto de algoritmos diferentes en un problema de Aprendizaje Automático, porque no se sabe cuál sería la mejor estimación de la estructura de la función que se está tratando de aproximar.
    </app-paragraph>

    <app-paragraph>
        Pero no todo es simple, ya que también hay una tasa de error (e) que es independiente de los datos de entrada (Y) y está presente en todos los algoritmos de este estilo.
    </app-paragraph>

    <div class="equation">
        Y = <span class="variable">F(X) + e</span>
    </div>

    <app-paragraph>Este error se llama irreducible porque no importa cuán bien obtengamos una estimación, la función objetivo (F) no podrá reducir el error. Entonces, la estimación de la forma de la función F siempre tendrá una tasa de error.</app-paragraph>

    <app-sub-title>Resumen</app-sub-title>

    <app-paragraph>En resumen, en esta sección vimos:</app-paragraph>

    <ul>
        <app-list-item>Los algoritmos de Aprendizaje Automático trabajan para estimar el mapeo (estructura) de una función F a partir de un conjunto de información de salida (variables) (Y) dado un conjunto de información de entrada (variables) (x).</app-list-item>
        <app-list-item>Diferentes algoritmos de Aprendizaje Automático hacen diferentes suposiciones sobre la forma de la función a descubrir.</app-list-item>
        <app-list-item>Cuando no se sabe mucho sobre la forma de la función objetivo, se deben probar diferentes algoritmos para ver cuál funciona/mejora mejor.</app-list-item>
        <app-list-item>Cada función de mapeo tiene una tasa de error inherente.</app-list-item>
    </ul>
</div>
