<app-tittle>What is Machine Learning?</app-tittle>

<app-mini-sub-title>Definition 1</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning is a branch of artificial intelligence (AI) and computer science that focuses
        on using data and algorithms to mimic the way humans learn, with a gradual improvement in its accuracy.” (IBM)
    </p>
</app-paragraph>

<app-mini-sub-title>Definition 2</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning is a subfield of artificial intelligence, which is broadly defined as the
        capability of a machine to imitate intelligent human behavior.” (MIT)
    </p>
</app-paragraph>

<app-mini-sub-title>Definition 3</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning at its most basic is the practice of using algorithms to parse data, learn from
        it, and then make a determination or prediction about something in the world.” (Nvidia)
    </p>
</app-paragraph>

<app-sub-title>What do they have in common and how do they differ from "Artificial Intelligence"?</app-sub-title>

<app-paragraph>
    Machine Learning (ML) is a branch of Artificial Intelligence (AI), but it has a more specific
    focus.
</app-paragraph>

<app-mini-sub-title>Similarities</app-mini-sub-title>

<ul>
    <app-list-item>
        Both <u>Artificial Intelligence</u> and <u>Machine Learning</u> heavily rely on data to enhance their performance.
    </app-list-item>
    <app-list-item>
        While <u>Machine Learning</u> is a subfield of <u>Artificial Intelligence</u>, both belong to the same field.
    </app-list-item>
    <app-list-item>
        Both <u>Artificial Intelligence</u> and <u>Machine Learning</u> are closely associated, at least, with the simulation and
        prediction of human behavior.
    </app-list-item>
</ul>

<app-mini-sub-title>Differences</app-mini-sub-title>

<ul>
    <app-list-item>
        <u>Artificial Intelligence</u> is more associated with the ability of a system to "think" or "simulate" human behavior, while<u>Machine Learning</u> is more associated with processing data so that the machine can "learn."
    </app-list-item>
    <app-list-item>
        <u>Artificial Intelligence</u> is more focused on creating complex systems that attempt to emulate human intelligence, whereas<u>Machine Learning</u> focuses on developing algorithms and models that allow machines to recognize patterns to improve their performance.
    </app-list-item>
    <app-list-item>
        <u>Artificial Intelligence</u> has a broader applicability (more complex applications), while <u>Machine Learning</u>, being a more specific section, has a more concrete applicability (very useful in tasks that can be solved through pattern recognition and data relationships).
    </app-list-item>
    <app-list-item>
        In essence, <u>Artificial Intelligence</u> is more associated with a machine's ability to "do something" (usually human behavior), while <u>Machine Learning</u> is associated with the "training technique" to acquire that capability.
    </app-list-item>
</ul>

<img src="https://i.ibb.co/s9zskBg/Untitled-7.png" alt="Untitled-7" border="0">

<app-sub-title>What do they have in common and how do they differ from "Statistical Analysis"?</app-sub-title>

<app-paragraph>
    Statistical Analysis is the science of collecting, exploring, and presenting large amounts of data to discover patterns and trends in the data.
</app-paragraph>

<app-mini-sub-title>Similarities</app-mini-sub-title>

<ul>
    <app-list-item>
        Both <u>Machine Learning</u> and <u>Statistical Analysis</u> are used to discover patterns and trends in data.
    </app-list-item>
    <app-list-item>
        Both <u>Machine Learning</u> and <u>Statistical Analysis</u> rely on the use of large amounts of data to accomplish their objectives.
        </app-list-item>
</ul>