<app-tittle>What is Machine Learning?</app-tittle>

<app-mini-sub-title>Definition 1</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning is a branch of artificial intelligence (AI) and computer science that focuses
        on using data and algorithms to mimic the way humans learn, with a gradual improvement in its accuracy.” (IBM)
    </p>
</app-paragraph>

<app-mini-sub-title>Definition 2</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning is a subfield of artificial intelligence, which is broadly defined as the
        capability of a machine to imitate intelligent human behavior.” (MIT)
    </p>
</app-paragraph>

<app-mini-sub-title>Definition 3</app-mini-sub-title>

<app-paragraph>
    <p class="italic">“Machine learning at its most basic is the practice of using algorithms to parse data, learn from
        it, and then make a determination or prediction about something in the world.” (Nvidia)
    </p>
</app-paragraph>

<app-sub-title>What do they have in common and how do they differ from "Artificial Intelligence"?</app-sub-title>

<app-paragraph>
    Machine Learning (ML) is a branch of Artificial Intelligence (AI), but it has a more specific
    focus.
</app-paragraph>

<app-mini-sub-title>Similarities</app-mini-sub-title>

<ul>
    <app-list-item>
        Both <u>Artificial Intelligence</u> and <u>Machine Learning</u> heavily rely on data to enhance their
        performance.
    </app-list-item>
    <app-list-item>
        While <u>Machine Learning</u> is a subfield of <u>Artificial Intelligence</u>, both belong to the same field.
    </app-list-item>
    <app-list-item>
        Both <u>Artificial Intelligence</u> and <u>Machine Learning</u> are closely associated, at least, with the
        simulation and
        prediction of human behavior.
    </app-list-item>
</ul>

<app-mini-sub-title>Differences</app-mini-sub-title>

<ul>
    <app-list-item>
        <u>Artificial Intelligence</u> is more associated with the ability of a system to "think" or "simulate" human
        behavior, while<u>Machine Learning</u> is more associated with processing data so that the machine can "learn."
    </app-list-item>
    <app-list-item>
        <u>Artificial Intelligence</u> is more focused on creating complex systems that attempt to emulate human
        intelligence, whereas<u>Machine Learning</u> focuses on developing algorithms and models that allow machines to
        recognize patterns to improve their performance.
    </app-list-item>
    <app-list-item>
        <u>Artificial Intelligence</u> has a broader applicability (more complex applications), while <u>Machine
            Learning</u>, being a more specific section, has a more concrete applicability (very useful in tasks that
        can be solved through pattern recognition and data relationships).
    </app-list-item>
    <app-list-item>
        In essence, <u>Artificial Intelligence</u> is more associated with a machine's ability to "do something"
        (usually human behavior), while <u>Machine Learning</u> is associated with the "training technique" to acquire
        that capability.
    </app-list-item>
</ul>

<img src="https://i.ibb.co/s9zskBg/Untitled-7.png" alt="Untitled-7" border="0">

<app-quote [title]="'References'">
    <app-paragraph>
        <a href="https://centromexico.digital/diferencia-machine-learning-inteligencia-artificial/" target="_blank">1-
            https://centromexico.digital/diferencia-machine-learning-inteligencia-artificial/<br></a>

        <a href="https://aws.amazon.com/es/compare/the-difference-between-artificial-intelligence-and-machine-learning/"
            target="_blank">2-
            https://aws.amazon.com/es/compare/the-difference-between-artificial-intelligence-and-machine-learning/<br></a>

        <a href="https://postgrado.ucsp.edu.pe/articulos/machine-learning-inteligencia-artificial-diferencias/"
            target="_blank">3-
            https://postgrado.ucsp.edu.pe/articulos/machine-learning-inteligencia-artificial-diferencias/<br></a>

        <a href="https://enzyme.biz/blog/inteligencia-artificial-machine-learning" target="_blank">4-
            https://enzyme.biz/blog/inteligencia-artificial-machine-learning</a>

    </app-paragraph>
</app-quote>

<app-sub-title>What do they have in common and how do they differ from "Statistical Analysis"?</app-sub-title>

<app-paragraph>
    Statistical Analysis is the science of collecting, exploring, and presenting large amounts of data to discover
    patterns and trends in the data.
</app-paragraph>

<app-mini-sub-title>Similarities</app-mini-sub-title>

<ul>
    <app-list-item>
        Both <u>Machine Learning</u> and <u>Statistical Analysis</u> are used to discover patterns and trends in data.
    </app-list-item>
    <app-list-item>
        Both <u>Machine Learning</u> and <u>Statistical Analysis</u> rely on the use of large amounts of data to
        accomplish their objectives.
    </app-list-item>
</ul>

<app-mini-sub-title>Differences</app-mini-sub-title>

<ul>
    <app-list-item>
        As one would expect, <u>Machine Learning</u> is based on the development of algorithms and models that allow the
        system to improve its performance, whereas <u>Statistical Analysis</u> has a more raw focus on the use of
        classical mathematical statistical methods to analyze and understand the data.
    </app-list-item>
    <app-list-item>
        While they are very similar, <u>Machine Learning</u> focuses on the precise prediction of future outcomes, while
        <u>Statistical Analysis</u> focuses on inference and understanding trends and relationships among variables
        (data).
    </app-list-item>
</ul>

<app-quote [title]="'References'">
    <app-paragraph>
        <a href="https://www.gylgroup.com/diferencia-machine-learning-estadisticas/#:~:text=Los%20modelos%20de%20machine%20learning%20o%20aprendizaje%20autom%C3%A1tico%20son%20dise%C3%B1ados,%C3%BAnicamente%20en%20espacios%20de%20probabilidad"
            target="_blank">1-
            https://www.gylgroup.com/diferencia-machine-learning-estadisticas/</a>
    </app-paragraph>
</app-quote>


<app-sub-title>How does it differ from Data Mining?</app-sub-title>

<app-paragraph>
    Data mining is considered the process of extracting useful information from a vast set of
    data
</app-paragraph>

<app-mini-sub-title>Differences</app-mini-sub-title>

<ul>
    <app-list-item>
        <u>Data Mining</u> is used to obtain valuable information from a dataset, while <u>Machine Learning</u> is used
        to create automated systems that can perform specific tasks.
    </app-list-item>
    <app-list-item>
        <u>Machine Learning</u> produces trained models that can make predictions on new data, while <u>Data Mining</u>
        produces patterns and relationships that can inform certain strategies.
    </app-list-item>
</ul>

<app-quote [title]="'References'">
    <app-paragraph>
        <a href="https://bernardmarr.com/what-is-the-difference-between-data-mining-and-machine-learning/#:~:text=Data mining is used on,predictions about new data sets."
            target="_blank">
            1- https://bernardmarr.com/what-is-the-difference-between-data-mining-and-machine-learning/</a>
    </app-paragraph>
</app-quote>

<app-sub-title>Where is it applied?</app-sub-title>
<app-paragraph>
    Due to the various capabilities of Machine Learning to automate tasks, improve decision-making, discover patterns, among others, it is applied in various fields, including:
</app-paragraph>

<ul>
    <app-list-item>Text understanding</app-list-item>
    <app-list-item>Natural language processing</app-list-item>
    <app-list-item>Image analysis</app-list-item>
    <app-list-item>Behavior analysis</app-list-item>
    <app-list-item>Recommender systems</app-list-item>
    <app-list-item>General data analysis</app-list-item>
    <app-list-item>Pattern prediction</app-list-item>
</ul>


