.nav-link {
    color: white;
    font-weight: 400;
    word-wrap: break-word;
}

.fixed-top {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    background-color: rgba(21, 18, 23, 1);
}

.navbar-brand {
    color: white;
    font-weight: 700;
    padding-bottom: 0%;
    height: 2.5rem;

}

.by-text {
    padding-top: 0%;
    font-size: small;
    font-style: italic !important;
    font-weight: lighter;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: white;
    background-image: none;
    border: none;
    font-size: sxx-large;
}

.container-fluid {
    padding: 0;
}

.fs-5 {
    width: fit-content;
}

.hover:hover {
    color: rgb(255, 10, 108);
}

.hover:hover {
    transition: transform 0.3s ease;
    transform: scale(1.08);
}

.hover:not(:hover) {
    transition: transform 0.5s ease;
    transform: scale(1);
    color: white;
}

@media (max-width: 992px) {
    .fixed-top {
        display: none;
    }

    .invisible {
        visibility: visible !important;
    }
}

.contac-me {
    background-image: linear-gradient(to right, rgb(255, 10, 108) 0%, rgba(128, 9, 246) 100%);
    border: none;
    font-weight: 600;
    font-size: medium;
    text-wrap: nowrap;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.contac-me:hover {
    transition: transform 0.3s ease;
    transform: scale(1.08);
}

.contac-me:not(:hover) {
    transition: transform 0.5s ease;
    transform: scale(1);
}