<div class="modal-body">
    <h3 class="color-text mb-3">Contac Info</h3>
    <h5 class="color-text-name mb-3">Representante</h5>
    <div class="providers">
        <app-contact-provider [icon]="'bi-github'" [text]="'GitHub'" [link]="'https://github.com/MatiasCab'"></app-contact-provider>
        <app-contact-provider [icon]="'bi-linkedin'" [text]="'LinkedIn'" [link]="'https://www.linkedin.com/in/matiasezecabrera'"></app-contact-provider>
        <app-contact-provider [icon]="'bi-envelope'" [text]="'Email'" [link]="'mailto:matiascab.2022@gmail.com'"></app-contact-provider>
        <app-contact-provider [icon]="'bi-file-earmark-person'" [text]="'CV'" [link]="'https://drive.google.com/file/d/1PdyEduZ1iMiFZduq2j8Qd_3tZIuwn9sd/view?usp=drive_link'"></app-contact-provider>
    </div>
</div>

