<div class="container-custom text-center">
    <div class="presentation-text" >
        <div data-aos="fade-right" data-aos-duration="2000">
        <h1>Descubre el</h1>
        <h1>potencial del</h1>
        <h1 class="color-text mobile">Machine Learning</h1>
        <p class="phrase">"The best way to predict the future is to implement it."</p>
        <p class="cite">- David Heinemeier Hansson</p>
    </div>
    <div class="div-discover-button" data-aos="fadde-up-left" data-aos-duration="2000">
        <button  class="btn btn-primary mt-3" routerLink="/repository">Descubre <i
            class="bi bi-arrow-right-circle pt-1"></i></button>
    </div>
    </div>
    <div class="phrases-bar pt-2 pb-2" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="50">
        <div class="par-number-phrase">
            <p class="number">150+</p>
            <p class="number-phrase">Horas dedicadas</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">15+</p>
            <p class="number-phrase">Conceptos aprendidos</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">2+</p>
            <p class="number-phrase">Casos de estudio</p>
        </div>
    </div>
</div>