<div class="container-custom text-center">
    <div class="presentation-text" >
        <div data-aos="fade-right" data-aos-duration="2000">
        <h1>Discover the</h1>
        <h1>potential of</h1>
        <h1 class="color-text mobile">Machine Learning</h1>
        <ngx-typed-js [strings]="['achine Learning', 'e']" [backDelay]="500" [loop]="true" [typeSpeed]="250" [backSpeed]="100" >
            <div class="in-line">
                <h1 class="color-text m-color">M</h1>
                <h1 class="color-text typing"></h1>
            </div>
            
        </ngx-typed-js>
        <p class="phrase">"The best way to predict the future is to implement it."</p>
        <p class="cite">- David Heinemeier Hansson</p>
    </div>
    <div class="div-discover-button" data-aos="fade-up-left" data-aos-duration="2000">
        <button  class="btn btn-primary mt-3" routerLink="/repository">Discover now <i
            class="bi bi-arrow-right-circle pt-1"></i></button>
    </div>
    </div>
    <div class="phrases-bar pt-2 pb-2" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="50">
        <div class="par-number-phrase">
            <p class="number">100+</p>
            <p class="number-phrase">Hours dedicated</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">15+</p>
            <p class="number-phrase">Concepts learned</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">2+</p>
            <p class="number-phrase">Study cases</p>
        </div>
    </div>
</div>