<div class="container-custom text-center">
    <div class="presentation-text">
        <h1>Discover the</h1>
        <h1>potential of</h1>
        <h1 class="color-text">Machine Learning</h1>
        <p class="phrase">"The best way to predict the future is to implement it."</p>
        <p class="cite">- David Heinemeier Hansson</p>
        <button class="btn btn-primary mt-3" routerLink="/repository">Discover now <i
                class="bi bi-arrow-right-circle pt-1"></i></button>
    </div>
    <div class="phrases-bar pt-2 pb-2">
        <div class="par-number-phrase">
            <p class="number">200+</p>
            <p class="number-phrase">Hours dedicated</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">30+</p>
            <p class="number-phrase">Concepts learned</p>
        </div>
        <div class="par-number-phrase">
            <p class="number">3+</p>
            <p class="number-phrase">Study cases</p>
        </div>
    </div>
</div>