<app-tittle>Supervision in Algorithms</app-tittle>

<app-paragraph>Machine Learning algorithms can be grouped based on the way they learn. And in this grouping are the algorithms: Supervised, Non-Supervised, Semi-Supervised.</app-paragraph>

<app-sub-title>Supervised</app-sub-title>

<app-paragraph>
    An algorithm is supervised when it has input variables (x) and an output variable (y) and the algorithm learns the function that maps the input to the output.
</app-paragraph>

<app-paragraph>
    The objective here is to approximate the objective function in such a way that when new data x is entered, the result y can be predicted for that data.
</app-paragraph>

<app-paragraph>
    It is called supervised learning because the process in which an algorithm learns from training data can be likened to a teacher supervising the learning process.
</app-paragraph>

<app-callout>Most Machine Learning practices this type of learning.</app-callout>

<app-paragraph>Supervised learning problems can be grouped in two main groups:</app-paragraph>

<ul>
    <app-list-item>
        Classification: When the output variable is a category (such as red or white, etc).
    </app-list-item>

    <app-list-item>
        Regression: When the output variable is a real value (such as dollars or peso, etc).
    </app-list-item>
</ul>

<app-paragraph>Some examples of algorithms of this type are:</app-paragraph>

<ul>
    <app-list-item>
        Linear regression for regression problems.
    </app-list-item>

    <app-list-item>
        Random forest for classification and regression problems.
    </app-list-item>

    <app-list-item>
        Support Vector for classification problems.
    </app-list-item>
</ul>

<app-sub-title>Non-Supervised</app-sub-title>

<app-paragraph>
    Unlike supervised algorithms, unsupervised algorithms have no corresponding output, only the input data (x).
</app-paragraph>

<app-paragraph>
    The goal in this type of algorithm is to model the underlying structure or distribution of the data in order to learn more about it.
</app-paragraph>

<app-callout>Note: They are called Non-Supervised because there is no resemblance to the analogy of the teacher teaching, since there is no correct answer.</app-callout>

<app-paragraph>Non-Supervised learning problems can be grouped into two main groups:</app-paragraph>

<ul>
    <app-list-item>
        Clustering: This is when you want to discover the inherent clustering of the data.
    </app-list-item>

    <app-list-item>
        Association: When you want to discover the rules that describe a large portion of the data.
    </app-list-item>
</ul>

<app-mini-sub-title>Examples</app-mini-sub-title>

<app-paragraph>Some examples of such algorithms are:</app-paragraph>

<app-list-item>
    K-means for clustering problems.
</app-list-item>

<app-list-item>
    Apriori Algorithm for association problems.
</app-list-item>

<app-sub-title>Semi-supervised</app-sub-title>

<app-paragraph>
    As can be guessed, semi-supervised algorithms are a hybrid between supervised and unsupervised algorithms, being able to take advantage of both.
</app-paragraph>

<app-paragraph>
    These types of algorithms are ideal for when you have a large amount of data (x) as input and only a little of the data is categorized (y).
</app-paragraph>

<app-paragraph>
    Many real-world Machine Learning problems fall into this category.
</app-paragraph>

<app-mini-sub-title>Examples</app-mini-sub-title>

<ul>
    <app-list-item>
        Label Propagation
    </app-list-item>

    <app-list-item>
        Semi-supervised SVMs
    </app-list-item>
</ul>

<app-sub-title>Summary</app-sub-title>

<app-paragraph>Algorithms can be grouped in the way they learn, where:</app-paragraph>

<ul>
    <app-list-item>
        Supervised: All data is categorized, and the algorithms learn to predict the outcome of the input data.
    </app-list-item>

    <app-list-item>
        Unsupervised: All data is uncategorized, and the algorithms learn the inherent structure of the data.
    </app-list-item>

    <app-list-item>
        Semi-Supervised: Some of the data is categorized, but most of the data is not, a mix between supervised and unsupervised. Techniques from both categories can be used.
    </app-list-item>
</ul>