<app-tittle>CRISP-DM</app-tittle>

<app-paragraph>CRISP-DM (Cross-Industry Standard Process for Data Mining) is a method/process for guiding data mining work.</app-paragraph>

<app-paragraph>What CRISP-DM does is provide a data mining lifecycle, consisting of a total of 6 phases (described) with certain common and important dependencies (explained) among them, promoting an iterative yet flexible model, making it applicable to various business problems to address.</app-paragraph>

<img src="https://i.ibb.co/Qrcn4Dy/Untitled-8.png" alt="Untitled-8" border="0">