<div class="container-custom pt-5">
    <div class="center-content">
    <h1 class="pb-3" data-aos="fade-down" data-aos-duration="2000"><span class="color-text">Descubre</span> Lo que hacemos
    </h1>
    <h4 id="work" class="fit-content" data-aos="fade-right" data-aos-duration="2000">A traves de todos los conceptos <span class="applied">I
            que hemos aplicado</span> en los</h4>
    <h4 class="pb-3 fit-content" data-aos="fade-left" data-aos-duration="2000">pequeños y grandes proyectos <span class="done">Que hemos hecho</span></h4>
    <div class="work-cards pb-4">
        <div data-aos="fade-left" data-aos-duration="2000">
            <app-navigation-card [title]="'Key concepts'"
                [text]="'Mira los distintos conceptos aplicados en las diferentes soluciones'"
                [imagePath]="'../../../../assets/ai1.png'"></app-navigation-card>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" data-aos-delay="300">
            <app-navigation-card [sectionNumber]="2" [title]="'Basics'"
                [text]="'Mira los pequeños y medianos trabajos   '"
                [imagePath]="'../../../../../assets/estadisticas.png'"></app-navigation-card>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" data-aos-delay="600">
            <app-navigation-card [sectionNumber]="3" [title]="'Study Cases'"
                [text]="'Mira los grandes trabajos y soluciones resultado de todos el proceso aplicado'"
                [imagePath]="'../../../../../assets/procesador.png'"></app-navigation-card>
        </div>
        <div class="pb-4 hidden"></div>
    </div>
</div>
</div>