<app-tittle>Detección de Riñón</app-tittle>

<app-sub-title>Análisis de Problema, Contexto y Datos</app-sub-title>

<app-mini-sub-title>Vista General</app-mini-sub-title>

<app-paragraph>El problema en cuestión radica en detectar de manera temprana la enfermedad renal crónica.</app-paragraph>

<app-mini-sub-title>Contexto</app-mini-sub-title>

<app-paragraph>Las enfermedades renales crónicas afectan a nivel global. Pero hay algunos puntos en el mundo en donde son más comunes respecto al resto. De hecho, hay evidencia que sugiere que en países aún en etapas de desarrollo, son afectados de mayor forma respecto a los países desarrollados. Incluso aspectos como la detección y tratamiento están altamente influenciados por el nivel socioeconómico, factores culturales, políticos, etc. Por lo que su presencia y gravedad a lo largo de la esfera (la tierra) podría sufrir severos cambios. Esto último puede deberse a que la detección de enfermedades renales es invasiva, costosa, lenta, y a veces riesgosa. Por lo que muchos pacientes llegan en etapas tardías, y es peor en los países en vías de desarrollo, donde la atención médica de calidad puede ser escasa.</app-paragraph>

<app-paragraph>Por lo tanto, se observa un tremendo beneficio en herramientas y procedimientos de detección temprana de esta enfermedad, sobre todo en los países y regiones más vulnerables y afectadas.</app-paragraph>

<app-quote [title]="'Referencia'"><app-paragraph><a href="https://www.revistanefrologia.com/es-carga-acceso-disparidades-enfermedad-renal-articulo-S0211699519300505#:~:text=Kidney%20disease%20is%20a,that%20its%20detection%20and%20treatment">https://www.revistanefrologia.com/es-carga-acceso-disparidades-enfermedad-renal-articulo-S0211699519300505#:~:text=Kidney%20disease%20is%20a,that%20its%20detection%20and%20treatment</a></app-paragraph>
</app-quote>

<app-mini-sub-title>Análisis de Datos</app-mini-sub-title>

<app-paragraph>En esta ocasión, contamos con un conjunto de datos de 25 atributos que representan distintos aspectos físicos y no físicos, además de cuestiones médicas que afectan a las personas ubicadas en la India (un país con algunos contextos difíciles):</app-paragraph>

<ul>
    <app-list-item>1. <strong>age - Edad (Edad, numérica)</strong>: Representa la edad del paciente en años.</app-list-item>
    <app-list-item>2. <strong>bp - Presión Sanguínea (numérica)</strong>: Muestra la presión sanguínea del paciente en mm/Hg (milímetros de mercurio).</app-list-item>
    <app-list-item>3. <strong>sg - Gravedad Específica (nominal)</strong>: Este es un atributo categórico que indica la gravedad específica de la orina. Puede tener varios valores nominales, como 1.005, 1.010, 1.015, 1.020, 1.025.</app-list-item>
    <app-list-item>4. <strong>al - Albúmina (Albúmina, nominal)</strong>: Representa la presencia de albúmina en la orina. Los valores nominales incluyen 0, 1, 2, 2, 3, 4 y 5, indicando la cantidad de albúmina presente.</app-list-item>
    <app-list-item>5. <strong>su - Azúcar (nominal)</strong>: Indica la presencia de azúcar en la orina. Los valores nominales son 0, 1, 2, 2, 3, 4 y 5, representando diferentes niveles de azúcar.</app-list-item>
    <app-list-item>6. <strong>rbc - Glóbulos Rojos (nominal)</strong>: Describe la apariencia de los glóbulos rojos en la muestra de orina, que puede ser "normal" o "anormal".</app-list-item>
    <app-list-item>7. <strong>pc - Células de Pus (nominal)</strong>: Indica la presencia de células de pus en la muestra de orina, que puede ser "normal" o "anormal".</app-list-item>
    <app-list-item>8. <strong>pcc - Grumos de Células de Pus (nominal)</strong>: Muestra si hay o no grumos de células de pus presentes.</app-list-item>
    <app-list-item>9. <strong>ba - Bacterias (Bacterias, nominal)</strong>: Indica si hay bacterias presentes en la muestra de orina.</app-list-item>
    <app-list-item>10. <strong>bgr - Glucosa en Sangre Aleatoria (numérica)</strong>: Muestra el nivel de glucosa en sangre en miligramos por decilitro (mg/dl) en un momento aleatorio.</app-list-item>
    <app-list-item>11. <strong>bu - Urea en Sangre (numérica)</strong>: Representa la concentración de urea en sangre en miligramos por decilitro (mg/dl).</app-list-item>
    <app-list-item>12. <strong>sc - Creatinina en Suero (numérica)</strong>: Indica la concentración de creatinina en sangre en miligramos por decilitro (mg/dl).</app-list-item>
    <app-list-item>13. <strong>sod - Sodio (numérica)</strong>: Muestra la concentración de sodio en sangre en miliequivalentes por litro (mEq/L).</app-list-item>
    <app-list-item>14. <strong>Pot - Potasio (Potasio, numérica)</strong>: Indica la concentración de potasio en sangre en miliequivalentes por litro (mEq/L).</app-list-item>
    <app-list-item>15. <strong>hemo - Hemoglobina (Hemoglobina, numérica)</strong>: Muestra la concentración de hemoglobina en gramos por decilitro (g/dL) de sangre.</app-list-item>
    <app-list-item>16. <strong>pcv - Volumen de Células Empaquetadas (numérica)</strong>: Muestra el volumen de células sanguíneas empaquetadas en porcentaje.</app-list-item>
    <app-list-item>17. <strong>wc - Recuento de Glóbulos Blancos (numérica)</strong>: Representa el recuento de glóbulos blancos en células por microlitro (cumm) de sangre.</app-list-item>
    <app-list-item>18. <strong>rc - Recuento de Glóbulos Rojos (numérica)</strong>: Muestra el recuento de glóbulos rojos en millones por milímetro cúbico (cmm) de sangre.</app-list-item>
    <app-list-item>19. <strong>htn - Hipertensión (Hipertensión, nominal)</strong>: Indica si el paciente tiene hipertensión ("sí" o "no").</app-list-item>
    <app-list-item>20. <strong>dm - Diabetes Mellitus (Diabetes Mellitus, nominal)</strong>: Muestra si el paciente tiene diabetes mellitus ("sí" o "no").</app-list-item>
    <app-list-item>21. <strong>cad - Enfermedad de las Arterias Coronarias (Enfermedad de las Arterias Coronarias, nominal)</strong>: Indica si el paciente tiene enfermedad de las arterias coronarias ("sí" o "no").</app-list-item>
    <app-list-item>22. <strong>appet - Apetito (nominal)</strong>: Describe el apetito del paciente, que puede ser "bueno" o "pobre".</app-list-item>
    <app-list-item>23. <strong>pe - Edema Pedal (Edema Pedal, nominal)</strong>: Indica si el paciente tiene edema en los pies ("sí" o "no").</app-list-item>
    <app-list-item>24. <strong>ane - Anemia (Anemia, nominal)</strong>: Describe si el paciente tiene anemia ("sí" o "no").</app-list-item>
    <app-list-item>25. <strong>class - Clase (Clase, nominal)</strong>: Este es el atributo de salida y se utiliza para clasificar a los pacientes en dos clases: "ckd" (enfermedad renal crónica) y "notckd" (no enfermedad renal crónica).</app-list-item>
</ul>


<app-sub-title>Preparación de Datos</app-sub-title>

<app-paragraph>En este punto, con los datos ya conocidos, debemos determinar qué atributos y registros (tuplas) serán más útiles al entrenar nuestro modelo. Filtraremos nuestro conjunto de datos para mantener solo aquellos que no afecten de manera negativa o engañosa el rendimiento de nuestro modelo.</app-paragraph>

<app-mini-sub-title>Descartar Atributos Problemáticos</app-mini-sub-title>

<app-paragraph>1. Primero nos aseguraremos de que no haya tuplas duplicadas en todo el conjunto de datos.</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-1.png'"></app-image>

<app-paragraph>2. Ahora comenzaremos a determinar aspectos como valores faltantes y/o correlaciones en los atributos.</app-paragraph>

<app-paragraph>Para esto, utilizaremos la matriz de correlación (para los valores numéricos, ya que para los valores nominales, a priori, no es posible utilizarla) y estadísticas de valores faltantes, con la siguiente operación:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-2.png'"></app-image>

<app-paragraph>Esto nos dará resultados similares a los siguientes:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-3.png'"></app-image>
<app-image [image]="'../../../../../assets/kideny-4.png'"></app-image>

<app-mini-sub-title>- RBC</app-mini-sub-title>

<app-paragraph>Este atributo representa la apariencia de los <strong>Glóbulos Rojos.</strong> Tiene 152 valores faltantes, que es el 38% del total de datos. Se estudió su relevancia para el problema a resolver y se determinó que, aunque hay matices, se puede prescindir de él. Además, es de tipo nominal binario, por lo que no hay mucha flexibilidad en la imputación que se puede realizar.</app-paragraph>

<app-mini-sub-title>- RBCC</app-mini-sub-title>

<app-paragraph>Este atributo representa el <strong>Recuento de Glóbulos Rojos.</strong> Tiene 131 valores faltantes, que es el 33% del total de datos. Según la investigación preliminar. Estos datos no son uno de los datos primarios o determinísticos utilizados en el diagnóstico de la enfermedad renal. Por lo tanto, no se utiliza en esta iteración.</app-paragraph>

<app-mini-sub-title>- WBCC</app-mini-sub-title>

<app-paragraph>Este atributo representa el <strong>Recuento de Glóbulos Blancos.</strong> Tiene 106 valores faltantes, que es el 26% del total de datos. Lo descartamos por la misma razón que "<strong>RBCC</strong>."</app-paragraph>

<app-mini-sub-title>- SOD</app-mini-sub-title>

<app-paragraph>Este atributo representa el <strong>Sodio.</strong> Tiene 87 valores faltantes, que es el 22% del total de datos. Además de esta cantidad de valores faltantes, también presenta una relación con "presión arterial" (<strong>Hipertensión</strong>), un indicador importante para determinar este tipo de enfermedades, según la siguiente referencia:</app-paragraph>

<app-quote [title]="'Referencia'"><app-paragraph><a href="https://www.kidney.org/atoz/content/about-chronic-kidney-disease#what-chronic-kidney-disease">https://www.kidney.org/atoz/content/about-chronic-kidney-disease#what-chronic-kidney-disease</a></app-paragraph>
</app-quote>

<app-paragraph>Por lo tanto, decidimos descartar este atributo.</app-paragraph>

<app-mini-sub-title>- PCV</app-mini-sub-title>

<app-paragraph>Este atributo representa el <strong>Volumen de Células Empaquetadas.</strong> Tiene 71 valores faltantes, que es el 18% del total de datos. También está altamente correlacionado con atributos como <strong>Hipertensión</strong> (puntos de relación 0.633). ****, por lo que lo descartamos.</app-paragraph>

<app-mini-sub-title>- BGR</app-mini-sub-title>

<app-paragraph>Este atributo representa la <strong>Glucosa en Sangre Aleatoria.</strong> Tiene 44 valores faltantes, que es el 11% del total de datos. Además, está estrechamente relacionado con el atributo de diabetes, que puede volverse determinante en la detección de enfermedad renal. Según la siguiente referencia:</app-paragraph>

<app-quote [title]="'Referencia'"><app-paragraph><a href="https://www.kidney.org/atoz/content/about-chronic-kidney-disease#what-chronic-kidney-disease">https://www.kidney.org/atoz/content/about-chronic-kidney-disease#what-chronic-kidney-disease</a></app-paragraph>
</app-quote>

<app-paragraph>Por lo tanto, decidimos descartar este atributo.</app-paragraph>

<app-mini-sub-title>- PC</app-mini-sub-title>

<app-paragraph>Este atributo representa las <strong>Células de Pus.</strong> Tiene 65 valores faltantes, que es el 16% del total de datos. Además, la distribución de los valores binomiales está lejos de ser igual, lo que puede dificultar la imputación de los datos. También se agrega que, según la investigación, no es un aspecto determinante de la enfermedad renal. Por todas las razones anteriores, descartamos el atributo.</app-paragraph>

<app-mini-sub-title>- SU</app-mini-sub-title>

<app-paragraph>Este atributo representa el <strong>Azúcar.</strong> Tiene 49 valores faltantes, que es el 12% del total de datos. Ya tenemos otro atributo que nos proporciona la misma información, pero también tiene una distribución bastante desigual, lo que dificulta su tratamiento para los modelos, por lo que se descarta.</app-paragraph>

<app-mini-sub-title>- BU</app-mini-sub-title>

<app-paragraph>Este atributo representa la <strong>Urea en Sangre.</strong> Tiene 19 valores faltantes, que es el 5% del total de datos. Aunque no es una dimensión exagerada, está estrechamente relacionado con la <strong>Creatinina en Suero</strong> (0.586), y en el contexto de la detección de enfermedades renales, su uso viene en conjunto con la última mencionada, por lo que nos limitamos a usar <strong>Creatinina en Suero</strong> descartando el uso de <strong>Urea en Sangre.</strong></app-paragraph>

<app-mini-sub-title>Manejo de Outliers</app-mini-sub-title>

<app-paragraph>Ahora, después de aplicar un filtro preliminar en los atributos, queda analizar los valores en los atributos. En este caso, comenzaremos con los outliers.</app-paragraph>

<app-mini-sub-title>- BP</app-mini-sub-title>

<app-paragraph>El atributo de <strong>Presión Arterial</strong> tiene algunos outliers, como se muestra:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-5.png'"></app-image>

<app-paragraph>La alternativa en esta situación es eliminar estas tuplas. Así que filtraremos los datos:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-6.png'"></app-image>

<app-paragraph>En el paso anterior, utilizamos el operador "Filter Example" para filtrar todos aquellos registros que cumplan con cualquiera de las condiciones indicadas (que su valor sea menor o igual a 120), o que sea un valor faltante. Esto último es para evitar descartar todos los valores faltantes, ya que estos se pueden resolver con otras estrategias, como la imputación de datos.</app-paragraph>

<app-mini-sub-title>- SC</app-mini-sub-title>

<app-paragraph>El atributo de <strong>Creatinina en Suero</strong> presenta algunos outliers considerable:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-7.png'"></app-image>

<app-paragraph>Para resolver esto, en esta primera iteración, nos quedaremos con valores menores o iguales a 5. Esto se debe a que, según la investigación, los valores de Creatinina en Suero mayores a 5 se consideran en la etapa más severa de la enfermedad renal. Y necesitamos predecir la detección temprana, por lo que estos valores, a priori, no serían de mucha ayuda.</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-8.png'"></app-image>

<app-mini-sub-title>Manejo de Valores Faltantes</app-mini-sub-title>

<app-paragraph>Para resolver el problema de los valores faltantes, imputamos todos los valores faltantes con el promedio de su respectivo atributo. Para valores de tipo numérico, esto sería la media, mientras que para valores de tipo nominal (categóricos), sería el valor más popular. Así que tendremos lo siguiente:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-9.png'"></app-image>

<app-mini-sub-title>Normalización</app-mini-sub-title>

<app-paragraph>Dado que la escala en los atributos no es la misma, es necesario normalizar nuestro conjunto de datos para que este aspecto no afecte a nuestros modelos (un ejemplo sería K-NN, que es muy susceptible a este tipo de problemas). Actualmente, nuestro conjunto de datos se ve así:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-11.png'"></app-image>

<app-paragraph>Después de normalizar, la escala de nuestros atributos sería la siguiente:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-12.png'"></app-image>

<app-callout>Tenga en cuenta que la normalización se probó en este punto para demostrar los resultados. En la práctica, normalizaremos dentro del operador de validación cruzada para evitar la contaminación.</app-callout>

<app-sub-title>Modelado</app-sub-title>

<app-paragraph>Ahora, con el conjunto de datos preparado, lo que queda por hacer es seleccionar los modelos a utilizar.</app-paragraph>

<app-paragraph>Este problema en particular, que intenta detectar enfermedades renales tempranas, indicando el resultado con datos binomiales (si la tiene o no la tiene), es un problema de clasificación.</app-paragraph>

<app-paragraph>Para este tipo de problema, los algoritmos que pueden ayudarnos son:</app-paragraph>

<ul>
    <app-list-item>Naive Bayes</app-list-item>
    <app-list-item>Regresión Logística</app-list-item>
    <app-list-item>K-NN</app-list-item>
</ul>

<app-paragraph>Vamos a ver algunas necesidades y consideraciones de cada uno:</app-paragraph>

<app-mini-sub-title>Naive Bayes</app-mini-sub-title>
<ul>
    <app-list-item>El conjunto no debe tener valores faltantes.</app-list-item>
    <app-list-item>Los atributos deben ser condicionalmente independientes.</app-list-item>
    <app-list-item>Es recomendable utilizar la corrección de Laplace en el caso de que la probabilidad condicional del valor de un atributo dé 0, establecerlo en 1 para evitar la operación de valores 0 y que estos se multipliquen entre otras probabilidades, obteniendo resultados engañosos.</app-list-item>
</ul>


<app-mini-sub-title>Regresión Logística</app-mini-sub-title>
<ul>
    <app-list-item>No debería haber outliers.</app-list-item>
    <app-list-item>Se recomienda una distribución normal.</app-list-item>
    <app-list-item>No debería haber atributos correlacionados.</app-list-item>
    <app-list-item>Se recomienda establecer un número máximo de iteraciones (parámetro) en caso de que el modelo no converja (no alcance los coeficientes que minimizan el error entre las probabilidades predichas y reales).</app-list-item>
</ul>

<app-mini-sub-title>K-NN</app-mini-sub-title>
<ul>
    <app-list-item>Necesidad de normalización de los datos para que la escala de todos los atributos sea la misma y evitar que ciertos atributos tengan mayor peso que otros.</app-list-item>
    <app-list-item>También se recomienda que el número de vecinos más cercanos tomados sea mayor que 1, sea un número impar y pequeño. Porque si K es 1, se hace una comparación consigo mismo y dará un resultado engañoso, ya que siempre tendrá una predicción del 100%.</app-list-item>
    <app-list-item>También se recomienda tener un voto "ponderado" para tener en cuenta la distancia de los vecinos para la ponderación (más cercano, más peso).</app-list-item>
</ul>

<app-paragraph>Con todos los modelos seleccionados, queda aplicarlos y evaluarlos.</app-paragraph>

<app-sub-title>Evaluación</app-sub-title>

<app-paragraph>Para la evaluación, utilizaremos la validación cruzada. Así que obtendremos estos tres operadores:</app-paragraph>

<div class="resize-3">
    <app-image [image]="'../../../../../assets/kideny-13.png'"></app-image>
</div>

<app-paragraph>Cada una de estas selecciones cruzadas tiene una distribución de operadores idéntica a la siguiente (excepto por los modelos utilizados):</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-14.png'"></app-image>

<app-sub-title>Resultados</app-sub-title>

<app-paragraph>En cuanto a los datos que nos interesan (los resultados), obtenemos que para:</app-paragraph>

<app-mini-sub-title>Naive Bayes</app-mini-sub-title>

<app-image [image]="'../../../../../assets/kideny-15.png'"></app-image>

<app-paragraph>Rendimiento: 99.12%</app-paragraph>

<app-mini-sub-title>Regresión Logística</app-mini-sub-title>

<app-image [image]="'../../../../../assets/kideny-16.png'"></app-image>

<app-paragraph>Rendimiento: 96.47%</app-paragraph>

<app-mini-sub-title>K-NN</app-mini-sub-title>

<app-image [image]="'../../../../../assets/kideny-17.png'"></app-image>

<app-paragraph>Rendimiento: 94.42%</app-paragraph>

<app-paragraph>Vemos entonces que estos modelos entrenados tienen, a priori, un rendimiento muy bueno, pero el que genera el mejor rendimiento es Naive Bayes con un 99.12%.</app-paragraph>

<app-paragraph>También, para comparar el rendimiento de estos modelos, podemos utilizar las llamadas curvas ROC, de modo que obtenemos:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-18.png'"></app-image>

<app-paragraph>Para interpretar esta curva debemos saber que, cuanto más recta suba y luego recta a la derecha, mejor será el rendimiento del modelo.</app-paragraph>

<app-paragraph>Vemos entonces que el modelo con peor rendimiento es la Regresión Logística, mientras que aquellos con mejor rendimiento son K-nn y Naive Bayes. Así que en este punto, seleccionaremos el modelo de Naive Bayes para someterlo a una optimización final.</app-paragraph>

<app-sub-title>Optimización del Modelo</app-sub-title>

<app-paragraph>Una de las formas de optimizar los modelos es mediante el uso de la Selección de Características. Aplicando este operador al proceso actual, obtenemos que:</app-paragraph>

<div class="resize-2">
    <app-image [image]="'../../../../../assets/kideny-19.png'"></app-image>
</div>

<app-callout>Tenga en cuenta que hacemos uso de un algoritmo evolutivo para la selección de características, ya que en este punto es uno de los algoritmos que podría darnos un mejor rendimiento (mejor combinación de atributos).</app-callout>

<app-paragraph>Ejecutando el proceso, obtenemos ese conjunto de atributos que genera el mejor rendimiento, que es:</app-paragraph>

<div class="resize">
    <app-image [image]="'../../../../../assets/kideny-20.png'"></app-image>
</div>

<app-callout>Tenga en cuenta que los atributos seleccionados son aquellos marcados con un "1".</app-callout>

<app-paragraph>Y con respecto al rendimiento, tenemos el siguiente resultado:</app-paragraph>

<app-image [image]="'../../../../../assets/kideny-21.png'"></app-image>

<app-paragraph>Vemos una ligera mejora del 0.31%, que no es mucho, pero a priori es mejor que el resultado anterior.</app-paragraph>

<app-sub-title>Conclusiones</app-sub-title>

<app-paragraph>Como conclusiones, decir que aunque esta es la primera iteración, los resultados a primera vista parecen satisfactorios. Pero una cosa es segura, debemos continuar probando en el modelo obtenido, para evitar falsas esperanzas, y descartar casos como la presencia de sobreajuste. Siempre debemos estar alerta en estos casos de rendimiento súper positivo, ya que son indicativos de posibles engaños. Entonces, en las próximas iteraciones, debemos prestar especial atención a los pasos realizados y corregir lo necesario, si es necesario.</app-paragraph>
