<app-tittle>Preparación de Datos</app-tittle>

<app-paragraph>El manejo de datos es una de las etapas en el proceso de construcción de modelos de Machine Learning, y es probablemente donde la mayoría del tiempo se dedica como analista. Implica preparar y limpiar los datos antes de utilizarlos para alimentar un algoritmo.</app-paragraph>

<app-paragraph>Existen dos enfoques generales para el manejo de datos: "combinación" y "limpieza".</app-paragraph>

<app-mini-sub-title>Combinación</app-mini-sub-title>

<app-paragraph>Se trata de transformar un conjunto de datos de un estado a otro o combinar varios conjuntos.</app-paragraph>

<app-mini-sub-title>Limpieza</app-mini-sub-title>

<app-paragraph>Se trata de mejorar los propios datos para que el modelo a entrenar pueda ofrecer mejores resultados.</app-paragraph>

<app-sub-title>¿Qué debes saber?</app-sub-title>

<app-paragraph>Tanto para la combinación como para la limpieza, y en general, es esencial analizar a fondo el conjunto de datos que se va a examinar. En esta ocasión, especificaremos aspectos relacionados con la limpieza.</app-paragraph>

<app-paragraph>Entre los aspectos más comunes que pueden afectar el rendimiento del modelo a entrenar y que deben tenerse en cuenta al analizar atributos se encuentran:</app-paragraph>

<ul>
    <app-list-item>Verificar si hay muchos valores faltantes (?).</app-list-item>
    <app-list-item>Verificar si hay atributos relacionados con otros atributos.</app-list-item>
    <app-list-item>Identificar información inusual.</app-list-item>
    <app-list-item>Identificar el rango de los dominios de atributos.</app-list-item>
</ul>

<app-callout>Un punto importante a considerar es que a veces la información que se considera problemática es la que requiere atención. Un ejemplo de esto se encuentra en problemas de detección de fraude, donde la información inusual (valores atípicos) es lo que importa.
</app-callout><br>

<app-paragraph>Una vez identificados los aspectos anteriores, las acciones que se pueden tomar para tratar de mejorar el rendimiento del modelo tanto como sea posible dependerán del algoritmo específico utilizado. Sin embargo, algunas estrategias para reducir los problemas que puedan surgir incluyen:</app-paragraph>

<ul>
    <app-list-item>Reemplazar datos inválidos o faltantes con datos estadísticos del resto del conjunto, como el promedio, la mediana, el mínimo, etc., para evitar desperdiciar información.</app-list-item>
    <app-list-item>Eliminar atributos con muchos datos faltantes. A veces, cuando hay muchos datos faltantes, es mejor renunciar al uso de ese atributo. También se puede considerar eliminar solo los registros que tengan dichos datos.</app-list-item>
    <app-list-item>Eliminar atributos que estén correlacionados entre sí.</app-list-item>
    <app-list-item>Normalizar el rango de los dominios de atributos, llevando todos los datos en el conjunto al mismo nivel para evitar posibles inconsistencias (estandarización).<br>
                    Una posible técnica de normalización sería clasificar un cierto conjunto de datos que está "más alejado" del resto del conjunto como "Valores Atípicos" o con alguna otra etiqueta distintiva y manejarlos en función de esa característica para tomar la acción apropiada.
    </app-list-item>
</ul>
