<div class="container-custom text-center" *ngIf="!isMobile">
    <div class="row">
        <div class="col-4">
            <app-navigation (selectCardEvent)="callInfo($event)" [active]="activeNav"></app-navigation>
        </div>
        <div class="col-8 ps-4">
            <div data-aos="fade-zoom-in" data-aos-duration="2000">
                <ng-template #container>

                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="container-custom text-center mb-2" *ngIf="isMobile">
    <app-navigation (selectCardEvent)="callInfo($event)"></app-navigation>
    <div class="container-info {{isViewedInfo ? 'show' : ''}}">
        <div class="margin">
            <button class="btn-back mb-2" type="submit" (click)="searchView()"><i class="bi bi-chevron-left"></i>
                Go to Repository</button>
        </div>
        <ng-template #container>

        </ng-template>
    </div>
</div>
