

 
 html, body {
    background-color: rgba(21, 18, 23, 1);
 }


body::-webkit-scrollbar {
   display: none;
}

body {
   -ms-overflow-style: none;
   scrollbar-width: none;
}


.typed-cursor {
   display: none;
}

.modal-content {
   background: transparent;
   border: none;
}

.modal::-webkit-scrollbar {
   display: none;
}

.modal {
   -ms-overflow-style: none;
   scrollbar-width: none;
}