<div class="container-custom pt-5">
    <div class="center-content">
        <div id="about-me" class="pb-1"></div>
        <h1 class="color-text"  data-aos="fade-right" data-aos-duration="2000">Acerca de nosotros</h1>
        <div class="about-me-info">
            <div class="row mt-3">
                <div class="col-4" data-aos="fade-up-right" data-aos-duration="2000">
                    <img src="../../../../assets/Grupo.jpeg"
                        alt="Whats-App-Image-2023-10-04-at-20-39-38">
                </div>
                <div class="col-6" data-aos="fade-left" data-aos-duration="2000">
                    <p class="text">
                        ¡Bienvenido a nuestro portafolio de Machine Learning! Somos un equipo interasado en el mundo de la inteligencoia artifical. Nos dedicamos a resolver problemas de complejidad bajal, media, y alta, aprovechando todos los conceptos de la inteligencia artificial, rama que se encuentra en auge hoy en día. <br>
                        ¡Sentite libre de explorar todo lo que quieras!
                    </p>
                    <div class="icons">
                        <div class="hover-icon">
                            <a href="https://github.com/NExTMindML" target="_blank"><i
                                    class="bi bi-github ms-2 hover-icon"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>