<div class="container-custom pt-5">
    <div class="center-content">
        <div id="about-me" class="pb-1"></div>
        <h1 class="color-text"  data-aos="fade-right" data-aos-duration="2000">About me</h1>
        <div class="about-me-info">
            <div class="row mt-3">
                <div class="col-4" data-aos="fade-up-right" data-aos-duration="2000">
                    <img src="https://i.ibb.co/CKfYXCg/Whats-App-Image-2023-10-04-at-20-39-38.jpg"
                        alt="Whats-App-Image-2023-10-04-at-20-39-38">
                </div>
                <div class="col-6" data-aos="fade-left" data-aos-duration="2000">
                    <p class="text">
                        My name is <strong>Matias Cabrera</strong>.<br><br>

                        I am a student of computer engineering and a delegate of the Faculty of Engineering of the
                        Catholic
                        University of Uruguay, and right now I am getting into the world of artificial intelligence.
                        Why?
                        Nowadays, with the boom of this discipline in multiple areas, we can see the great amount of
                        possibilities that it offers us, not only to solve current problems, but also to develop our
                        creative thinking and to propose innovative ideas and tools. These aspects, and my active
                        participation in the market in this area, are what led me to undertake this journey throughout
                        the
                        world of Machine Learning, pushing me to try to acquire technical skills, soft skills, business
                        skills, etc. (that I will be showing you on this page), in order to achieve my goal of becoming
                        a
                        competent professional in the area. <br><br>

                        If you have any questions, do not hesitate to contact me!
                    </p>
                    <div class="icons">
                        <div class="hover-icon">
                            <a href="https://www.linkedin.com/in/matiasezecabrera" target="_blank"><i
                                    class="bi bi-linkedin hover-icon me-2"></i></a>
                        </div>
                        <div class="hover-icon">
                            <a href="https://www.instagram.com/mattiezequie/" target="_blank"><i
                                    class="bi bi-instagram ms-2 me-2 hover-icon"></i></a>
                        </div>
                        <div class="hover-icon">
                            <a href="https://github.com/MatiasCab" target="_blank"><i
                                    class="bi bi-github ms-2 hover-icon"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>